<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button routerLink="/login">Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
      <ion-header>
        <ion-item class="ion-padding">
          <img src="assets/forgot.png"/>
        </ion-item>

      </ion-header>
  <ion-card>

<ion-card-content>
  <ion-title>Forgot Password</ion-title>
  <ion-card-subtitle>Silahkan Masukkan Alamat Email Anda! </ion-card-subtitle>
  <ion-list>
    <ion-item>
      <ion-label position="floating"><ion-icon name="mail-outline" ></ion-icon>  Alamat Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" placeholder="example@sigap.com"></ion-input>
    </ion-item>
  </ion-list>
</ion-card-content>
  </ion-card>

  <ion-button expand="block" shape="round" (click)="resetPassword()">Reset Password</ion-button>

</ion-content>
