ion-menu{
  ion-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-toolbar{
     img{
      margin-top: 10px;
      height: 100px;
      margin-bottom: 10px;
      padding-left: 30%;
     }
    }
  }
ion-content{
  ion-menu-toogle{
    ion-list{
      ion-item{
        ion-label{
          font-size: small;
        }
      }
    }
  }
}
  p{
    font-size: small;
  }
}

